body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: rgb(255, 192, 203);
}

.heading {
  font-size: 30px;
}

.container {
  text-align: center;
  border-radius: 30px;
  background-color: hsl(335, 88%, 90%);
  padding: 20px 0px 40px 0px;
  margin: 20px 15px 0px 15px; 
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}

.search {
  border: none;
  background-color: hsl(350, 100%, 80%);
  color: white;
  font-weight: bold;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 14px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.search:hover {
  background-color: hsl(350, 100%, 76%);
  box-shadow: 0 3px 3px rgba(29, 28, 28, 0.3)
}

.input {
  background-image: url(../public/search-137.png);
  background-size: 20px 20px;
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 50px;
  width: 30%;
  font-size: 12px;
  padding: 12px 40px;
  margin-right: 6px;
  border-radius: 20px;
  border: 1px solid hsl(0, 0%, 60%);
}